Options -Indexes
RewriteEngine On

# Nếu file hoặc thư mục không tồn tại, chuyển đến index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]